basePath: /api
definitions:
  models.BestSellingProduct:
    properties:
      nama:
        type: string
      qty_terjual:
        type: integer
    type: object
  models.DailyReport:
    properties:
      produk_terlaris:
        $ref: '#/definitions/models.BestSellingProduct'
      total_revenue:
        type: integer
      total_transaksi:
        type: integer
    type: object
  models.Product:
    properties:
      id:
        type: integer
      name:
        type: string
      price:
        type: integer
      stock:
        type: integer
    type: object
  models.Transaction:
    properties:
      date:
        type: string
      details:
        items:
          $ref: '#/definitions/models.TransactionDetail'
        type: array
      id:
        type: integer
      total:
        type: integer
    type: object
  models.TransactionDetail:
    properties:
      id:
        type: integer
      product_id:
        type: integer
      quantity:
        type: integer
      subtotal:
        type: integer
      transaction_id:
        type: integer
    type: object
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is a simple cashier API service.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Go Kasir API
  version: "1.0"
paths:
  /products:
    get:
      consumes:
      - application/json
      description: Get a list of all products or create a new product
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Product'
            type: array
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Product'
      summary: Get all products or create a new one
      tags:
      - products
    post:
      consumes:
      - application/json
      description: Get a list of all products or create a new product
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Product'
            type: array
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Product'
      summary: Get all products or create a new one
      tags:
      - products
  /products/{id}:
    delete:
      consumes:
      - application/json
      description: Operations on a single product
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Product'
        "204":
          description: No Content
      summary: Get, Update, or Delete a product by ID
      tags:
      - products
    get:
      consumes:
      - application/json
      description: Operations on a single product
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Product'
        "204":
          description: No Content
      summary: Get, Update, or Delete a product by ID
      tags:
      - products
    put:
      consumes:
      - application/json
      description: Operations on a single product
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Product'
        "204":
          description: No Content
      summary: Get, Update, or Delete a product by ID
      tags:
      - products
  /report/hari-ini:
    get:
      description: Get total revenue, total transactions, and best selling product
        for today
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.DailyReport'
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Get daily sales report
      tags:
      - reports
  /transactions:
    post:
      consumes:
      - application/json
      description: Create a new transaction with details
      parameters:
      - description: Transaction Data
        in: body
        name: transaction
        required: true
        schema:
          $ref: '#/definitions/models.Transaction'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Invalid request body
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Create a new transaction
      tags:
      - transactions
swagger: "2.0"
